<table class="table table-bordered">
  <tr>
    <th>今日の投稿数</th><th>前日の投稿数</th><th>前日比</th>
  </tr>
  <tr>
    <td><%= today.count %></td>
    <td><%= yesterday.count %></td>
    <% if yesterday.count == 0 %>
     <td>前日の投稿がありません</td>
    <% else %>
     <td>
     <%= (100 * today.count / yesterday.count - 100).round %>%
     </td>
    <% end %>
  </tr>
</table>
<table class="table table-bordered">
  <tr>
    <th>今週の投稿数</th><th>前週の投稿数</th><th>前週比</th>
  </tr>
  <tr>
    <td><%= this_week.count %></td>
    <td><%= last_week.count %></td>
     <% if last_week.count == 0 %>
      <td>前週の投稿がありません</td>
     <% else %>
       <td>
       <%= (100 * this_week.count / last_week.count - 100).round %>%
       </td>
     <% end %>
  </tr>
</table>