<table class="table table-bordered">
  <tr>
    <th>今日の投稿数</th><th>前日の投稿数</th><th>前日比</th>
  </tr>
  <tr>
    <td><%= today.count %></td>
    <td><%= yesterday.count %></td>
    <% if yesterday.count == 0 %>
     <td>前日の投稿がありません</td>
    <% else %>
     <td>
     <%= (100 * today.count / yesterday.count - 100).round %>%
     </td>
    <% end %>
  </tr>
</table>
<table class="table table-bordered">
  <tr>
    <th>今週の投稿数</th><th>前週の投稿数</th><th>前週比</th>
  </tr>
  <tr>
    <td><%= this_week.count %></td>
    <td><%= last_week.count %></td>
     <% if last_week.count == 0 %>
      <td>前週の投稿がありません</td>
     <% else %>
       <td>
       <%= (100 * this_week.count / last_week.count - 100).round %>%
       </td>
     <% end %>
  </tr>
</table>
<h5>7日間分の投稿数</h5>
<table class="table table-bordered">
  <tr>
    <th>今日</th><th>1日前</th><th>2日前</th><th>3日前</th><th>4日前</th><th>5日前</th><th>6日前</th>
  </tr>
  <tr>
    <td><%= today.count %></td>
    <td><%= yesterday.count %></td>
    <td><%= books.created_day(2).count %></td>
    <td><%= books.created_day(3).count %></td>
    <td><%= books.created_day(4).count %></td>
    <td><%= books.created_day(5).count %></td>
    <td><%= books.created_day(6).count %></td>
  </tr>
</table>