<table class='table text-nowrap'>
  <tr>
    <td><%= link_to(book.user) do %>
     <%= image_tag book.user.get_profile_image(100,100) %><br>
     <%= book.user.name %>
     <% end %>
    </td>
    <td><%= link_to book.title, book %></td>
    <td><%= book.body %></td>
    <td><%= book.category %></td>

    <td id="favorite_btn_<%= book.id %>">
      <%= render 'favorites/favorite-btn', book: book %>
    </td>

    <td id="comment_count">
      <%= render 'post_comments/count', book: book %>
    </td>

    <td id="star-rate<%= book.id%>">
      <script>
        $('#star-rate<%= book.id%>').empty();
        $('#star-rate<%= book.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          half      : false,
          readOnly: true,
          score: <%= book.star %>,
        });
      </script>
    </td>

    <% if book.user_id == current_user.id %>
      <td><%= link_to 'Edit', edit_book_path(book), class: "btn btn-sm btn-success edit_book_#{book.id}" %></td>
      <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{book.id}"%></td>
      <td>閲覧数：<%= book.impressions_count %></td>
    <% end %>
  </tr>
</table>